---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";

const noticias = await getCollection("noticias");
const news = noticias
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .map((art) => ({
    slug: art.slug,
    title: art.data.title,
    subtitulo: art.data.subtitulo,
    imagen: art.data.imagen,
  }));
---

<Layout theme="light">
  <section
    class="relative w-full pt-20 overflow-hidden flex items-center justify-center"
  >
    <div class="grid place-items-center w-full py-20">
      <h1
        class="relative z-10 mx-auto max-w-4xl text-center text-2xl font-bold text-black md:text-3xl lg:text-4xl"
      >
        Noticias
      </h1>
      <p
        class="relative z-10 mx-auto max-w-xl pt-5 px-5 text-center text-base lg:text-lg font-normal text-black"
      >
        Utilizamos un enfoque ágil para probar suposiciones y conectarnos con
        las necesidades de su audiencia de manera temprana y frecuente.
      </p>
      <div
        class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 w-full max-w-7xl mt-10 px-[2vh] sm:px-[5vh]"
      >
        {
          news.map((n) => (
            <a
              href={`noticias/${n.slug}`}
              class="group/bento flex flex-col card rounded-xl border border-black/50 bg-black/10 p-4 transition duration-200 hover:shadow-xl [&>p:text-lg] card overflow-hidden cursor-pointer"
            >
              <img
                src={n.imagen}
                alt={n.title}
                class="aspect-video object-cover bg-[#00353d] rounded-lg"
              />
              <div class="transition duration-200 group-hover/bento:translate-x-2">
                <div class="flex items-center gap-2">
                  <h5 class="font-sans font-bold text-neutral-600 mt-2 mb-2 text-nowrap truncate">
                    {n.title}
                  </h5>
                </div>
                <p class="font-sans text-xs font-normal text-neutral-600">
                  <span class="text-sm">{n.subtitulo}</span>
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
